/Exploratory Data Analysis/assignment 1/exdata-data-household_power_consumption.zip
/Exploratory Data Analysis/assignment 1/household_power_consumption.txt
/Getting and Cleaning Data/assignment/UCI HAR Dataset.zip
/Getting and Cleaning Data/assignment/UCI HAR Dataset/README.txt
/Getting and Cleaning Data/assignment/UCI HAR Dataset/activity_labels.txt
/Getting and Cleaning Data/assignment/UCI HAR Dataset/features.txt
/Getting and Cleaning Data/assignment/UCI HAR Dataset/features_info.txt
/Getting and Cleaning Data/assignment/UCI HAR Dataset/test/Inertial Signals/body_acc_x_test.txt
/Getting and Cleaning Data/assignment/UCI HAR Dataset/test/Inertial Signals/body_acc_y_test.txt
/Getting and Cleaning Data/assignment/UCI HAR Dataset/test/Inertial Signals/body_acc_z_test.txt
/Getting and Cleaning Data/assignment/UCI HAR Dataset/test/Inertial Signals/body_gyro_x_test.txt
/Getting and Cleaning Data/assignment/UCI HAR Dataset/test/Inertial Signals/body_gyro_y_test.txt
/Getting and Cleaning Data/assignment/UCI HAR Dataset/test/Inertial Signals/body_gyro_z_test.txt
/Getting and Cleaning Data/assignment/UCI HAR Dataset/test/Inertial Signals/total_acc_x_test.txt
/Getting and Cleaning Data/assignment/UCI HAR Dataset/test/Inertial Signals/total_acc_y_test.txt
/Getting and Cleaning Data/assignment/UCI HAR Dataset/test/Inertial Signals/total_acc_z_test.txt
/Getting and Cleaning Data/assignment/UCI HAR Dataset/test/X_test.txt
/Getting and Cleaning Data/assignment/UCI HAR Dataset/test/subject_test.txt
/Getting and Cleaning Data/assignment/UCI HAR Dataset/test/y_test.txt
/Getting and Cleaning Data/assignment/UCI HAR Dataset/train/Inertial Signals/body_acc_x_train.txt
/Getting and Cleaning Data/assignment/UCI HAR Dataset/train/Inertial Signals/body_acc_y_train.txt
/Getting and Cleaning Data/assignment/UCI HAR Dataset/train/Inertial Signals/body_acc_z_train.txt
/Getting and Cleaning Data/assignment/UCI HAR Dataset/train/Inertial Signals/body_gyro_x_train.txt
/Getting and Cleaning Data/assignment/UCI HAR Dataset/train/Inertial Signals/body_gyro_y_train.txt
/Getting and Cleaning Data/assignment/UCI HAR Dataset/train/Inertial Signals/body_gyro_z_train.txt
/Getting and Cleaning Data/assignment/UCI HAR Dataset/train/Inertial Signals/total_acc_x_train.txt
/Getting and Cleaning Data/assignment/UCI HAR Dataset/train/Inertial Signals/total_acc_y_train.txt
/Getting and Cleaning Data/assignment/UCI HAR Dataset/train/Inertial Signals/total_acc_z_train.txt
/Getting and Cleaning Data/assignment/UCI HAR Dataset/train/X_train.txt
/Getting and Cleaning Data/assignment/UCI HAR Dataset/train/subject_train.txt
/Getting and Cleaning Data/assignment/UCI HAR Dataset/train/y_train.txt
/R Programming/specdata/001.csv
/R Programming/specdata/002.csv
/R Programming/specdata/003.csv
/R Programming/specdata/004.csv
/R Programming/specdata/005.csv
/R Programming/specdata/006.csv
/R Programming/specdata/007.csv
/R Programming/specdata/008.csv
/R Programming/specdata/009.csv
/R Programming/specdata/010.csv
/R Programming/specdata/011.csv
/R Programming/specdata/012.csv
/R Programming/specdata/013.csv
/R Programming/specdata/014.csv
/R Programming/specdata/015.csv
/R Programming/specdata/016.csv
/R Programming/specdata/017.csv
/R Programming/specdata/018.csv
/R Programming/specdata/019.csv
/R Programming/specdata/020.csv
/R Programming/specdata/021.csv
/R Programming/specdata/022.csv
/R Programming/specdata/023.csv
/R Programming/specdata/024.csv
/R Programming/specdata/025.csv
/R Programming/specdata/026.csv
/R Programming/specdata/027.csv
/R Programming/specdata/028.csv
/R Programming/specdata/029.csv
/R Programming/specdata/030.csv
/R Programming/specdata/031.csv
/R Programming/specdata/032.csv
/R Programming/specdata/033.csv
/R Programming/specdata/034.csv
/R Programming/specdata/035.csv
/R Programming/specdata/036.csv
/R Programming/specdata/037.csv
/R Programming/specdata/038.csv
/R Programming/specdata/039.csv
/R Programming/specdata/040.csv
/R Programming/specdata/041.csv
/R Programming/specdata/042.csv
/R Programming/specdata/043.csv
/R Programming/specdata/044.csv
/R Programming/specdata/045.csv
/R Programming/specdata/046.csv
/R Programming/specdata/047.csv
/R Programming/specdata/048.csv
/R Programming/specdata/049.csv
/R Programming/specdata/050.csv
/R Programming/specdata/051.csv
/R Programming/specdata/052.csv
/R Programming/specdata/053.csv
/R Programming/specdata/054.csv
/R Programming/specdata/055.csv
/R Programming/specdata/056.csv
/R Programming/specdata/057.csv
/R Programming/specdata/058.csv
/R Programming/specdata/059.csv
/R Programming/specdata/060.csv
/R Programming/specdata/061.csv
/R Programming/specdata/062.csv
/R Programming/specdata/063.csv
/R Programming/specdata/064.csv
/R Programming/specdata/065.csv
/R Programming/specdata/066.csv
/R Programming/specdata/067.csv
/R Programming/specdata/068.csv
/R Programming/specdata/069.csv
/R Programming/specdata/070.csv
/R Programming/specdata/071.csv
/R Programming/specdata/072.csv
/R Programming/specdata/073.csv
/R Programming/specdata/074.csv
/R Programming/specdata/075.csv
/R Programming/specdata/076.csv
/R Programming/specdata/077.csv
/R Programming/specdata/078.csv
/R Programming/specdata/079.csv
/R Programming/specdata/080.csv
/R Programming/specdata/081.csv
/R Programming/specdata/082.csv
/R Programming/specdata/083.csv
/R Programming/specdata/084.csv
/R Programming/specdata/085.csv
/R Programming/specdata/086.csv
/R Programming/specdata/087.csv
/R Programming/specdata/088.csv
/R Programming/specdata/089.csv
/R Programming/specdata/090.csv
/R Programming/specdata/091.csv
/R Programming/specdata/092.csv
/R Programming/specdata/093.csv
/R Programming/specdata/094.csv
/R Programming/specdata/095.csv
/R Programming/specdata/096.csv
/R Programming/specdata/097.csv
/R Programming/specdata/098.csv
/R Programming/specdata/099.csv
/R Programming/specdata/100.csv
/R Programming/specdata/101.csv
/R Programming/specdata/102.csv
/R Programming/specdata/103.csv
/R Programming/specdata/104.csv
/R Programming/specdata/105.csv
/R Programming/specdata/106.csv
/R Programming/specdata/107.csv
/R Programming/specdata/108.csv
/R Programming/specdata/109.csv
/R Programming/specdata/110.csv
/R Programming/specdata/111.csv
/R Programming/specdata/112.csv
/R Programming/specdata/113.csv
/R Programming/specdata/114.csv
/R Programming/specdata/115.csv
/R Programming/specdata/116.csv
/R Programming/specdata/117.csv
/R Programming/specdata/118.csv
/R Programming/specdata/119.csv
/R Programming/specdata/120.csv
/R Programming/specdata/121.csv
/R Programming/specdata/122.csv
/R Programming/specdata/123.csv
/R Programming/specdata/124.csv
/R Programming/specdata/125.csv
/R Programming/specdata/126.csv
/R Programming/specdata/127.csv
/R Programming/specdata/128.csv
/R Programming/specdata/129.csv
/R Programming/specdata/130.csv
/R Programming/specdata/131.csv
/R Programming/specdata/132.csv
/R Programming/specdata/133.csv
/R Programming/specdata/134.csv
/R Programming/specdata/135.csv
/R Programming/specdata/136.csv
/R Programming/specdata/137.csv
/R Programming/specdata/138.csv
/R Programming/specdata/139.csv
/R Programming/specdata/140.csv
/R Programming/specdata/141.csv
/R Programming/specdata/142.csv
/R Programming/specdata/143.csv
/R Programming/specdata/144.csv
/R Programming/specdata/145.csv
/R Programming/specdata/146.csv
/R Programming/specdata/147.csv
/R Programming/specdata/148.csv
/R Programming/specdata/149.csv
/R Programming/specdata/150.csv
/R Programming/specdata/151.csv
/R Programming/specdata/152.csv
/R Programming/specdata/153.csv
/R Programming/specdata/154.csv
/R Programming/specdata/155.csv
/R Programming/specdata/156.csv
/R Programming/specdata/157.csv
/R Programming/specdata/158.csv
/R Programming/specdata/159.csv
/R Programming/specdata/160.csv
/R Programming/specdata/161.csv
/R Programming/specdata/162.csv
/R Programming/specdata/163.csv
/R Programming/specdata/164.csv
/R Programming/specdata/165.csv
/R Programming/specdata/166.csv
/R Programming/specdata/167.csv
/R Programming/specdata/168.csv
/R Programming/specdata/169.csv
/R Programming/specdata/170.csv
/R Programming/specdata/171.csv
/R Programming/specdata/172.csv
/R Programming/specdata/173.csv
/R Programming/specdata/174.csv
/R Programming/specdata/175.csv
/R Programming/specdata/176.csv
/R Programming/specdata/177.csv
/R Programming/specdata/178.csv
/R Programming/specdata/179.csv
/R Programming/specdata/180.csv
/R Programming/specdata/181.csv
/R Programming/specdata/182.csv
/R Programming/specdata/183.csv
/R Programming/specdata/184.csv
/R Programming/specdata/185.csv
/R Programming/specdata/186.csv
/R Programming/specdata/187.csv
/R Programming/specdata/188.csv
/R Programming/specdata/189.csv
/R Programming/specdata/190.csv
/R Programming/specdata/191.csv
/R Programming/specdata/192.csv
/R Programming/specdata/193.csv
/R Programming/specdata/194.csv
/R Programming/specdata/195.csv
/R Programming/specdata/196.csv
/R Programming/specdata/197.csv
/R Programming/specdata/198.csv
/R Programming/specdata/199.csv
/R Programming/specdata/200.csv
/R Programming/specdata/201.csv
/R Programming/specdata/202.csv
/R Programming/specdata/203.csv
/R Programming/specdata/204.csv
/R Programming/specdata/205.csv
/R Programming/specdata/206.csv
/R Programming/specdata/207.csv
/R Programming/specdata/208.csv
/R Programming/specdata/209.csv
/R Programming/specdata/210.csv
/R Programming/specdata/211.csv
/R Programming/specdata/212.csv
/R Programming/specdata/213.csv
/R Programming/specdata/214.csv
/R Programming/specdata/215.csv
/R Programming/specdata/216.csv
/R Programming/specdata/217.csv
/R Programming/specdata/218.csv
/R Programming/specdata/219.csv
/R Programming/specdata/220.csv
/R Programming/specdata/221.csv
/R Programming/specdata/222.csv
/R Programming/specdata/223.csv
/R Programming/specdata/224.csv
/R Programming/specdata/225.csv
/R Programming/specdata/226.csv
/R Programming/specdata/227.csv
/R Programming/specdata/228.csv
/R Programming/specdata/229.csv
/R Programming/specdata/230.csv
/R Programming/specdata/231.csv
/R Programming/specdata/232.csv
/R Programming/specdata/233.csv
/R Programming/specdata/234.csv
/R Programming/specdata/235.csv
/R Programming/specdata/236.csv
/R Programming/specdata/237.csv
/R Programming/specdata/238.csv
/R Programming/specdata/239.csv
/R Programming/specdata/240.csv
/R Programming/specdata/241.csv
/R Programming/specdata/242.csv
/R Programming/specdata/243.csv
/R Programming/specdata/244.csv
/R Programming/specdata/245.csv
/R Programming/specdata/246.csv
/R Programming/specdata/247.csv
/R Programming/specdata/248.csv
/R Programming/specdata/249.csv
/R Programming/specdata/250.csv
/R Programming/specdata/251.csv
/R Programming/specdata/252.csv
/R Programming/specdata/253.csv
/R Programming/specdata/254.csv
/R Programming/specdata/255.csv
/R Programming/specdata/256.csv
/R Programming/specdata/257.csv
/R Programming/specdata/258.csv
/R Programming/specdata/259.csv
/R Programming/specdata/260.csv
/R Programming/specdata/261.csv
/R Programming/specdata/262.csv
/R Programming/specdata/263.csv
/R Programming/specdata/264.csv
/R Programming/specdata/265.csv
/R Programming/specdata/266.csv
/R Programming/specdata/267.csv
/R Programming/specdata/268.csv
/R Programming/specdata/269.csv
/R Programming/specdata/270.csv
/R Programming/specdata/271.csv
/R Programming/specdata/272.csv
/R Programming/specdata/273.csv
/R Programming/specdata/274.csv
/R Programming/specdata/275.csv
/R Programming/specdata/276.csv
/R Programming/specdata/277.csv
/R Programming/specdata/278.csv
/R Programming/specdata/279.csv
/R Programming/specdata/280.csv
/R Programming/specdata/281.csv
/R Programming/specdata/282.csv
/R Programming/specdata/283.csv
/R Programming/specdata/284.csv
/R Programming/specdata/285.csv
/R Programming/specdata/286.csv
/R Programming/specdata/287.csv
/R Programming/specdata/288.csv
/R Programming/specdata/289.csv
/R Programming/specdata/290.csv
/R Programming/specdata/291.csv
/R Programming/specdata/292.csv
/R Programming/specdata/293.csv
/R Programming/specdata/294.csv
/R Programming/specdata/295.csv
/R Programming/specdata/296.csv
/R Programming/specdata/297.csv
/R Programming/specdata/298.csv
/R Programming/specdata/299.csv
/R Programming/specdata/300.csv
/R Programming/specdata/301.csv
/R Programming/specdata/302.csv
/R Programming/specdata/303.csv
/R Programming/specdata/304.csv
/R Programming/specdata/305.csv
/R Programming/specdata/306.csv
/R Programming/specdata/307.csv
/R Programming/specdata/308.csv
/R Programming/specdata/309.csv
/R Programming/specdata/310.csv
/R Programming/specdata/311.csv
/R Programming/specdata/312.csv
/R Programming/specdata/313.csv
/R Programming/specdata/314.csv
/R Programming/specdata/315.csv
/R Programming/specdata/316.csv
/R Programming/specdata/317.csv
/R Programming/specdata/318.csv
/R Programming/specdata/319.csv
/R Programming/specdata/320.csv
/R Programming/specdata/321.csv
/R Programming/specdata/322.csv
/R Programming/specdata/323.csv
/R Programming/specdata/324.csv
/R Programming/specdata/325.csv
/R Programming/specdata/326.csv
/R Programming/specdata/327.csv
/R Programming/specdata/328.csv
/R Programming/specdata/329.csv
/R Programming/specdata/330.csv
/R Programming/specdata/331.csv
/R Programming/specdata/332.csv
